<div class="table-header">
  <mat-form-field class="float-left">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <a mat-raised-button color="accent" class="add-botton" [routerLink]="['/supplier/add']">
      {{ 'Add' }}
  </a>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.isActive"> {{row.isActive}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>   
              <td mat-cell *matCellDef="let element" class="action-class"> 
                <button mat-icon-button color="primary" class="float-left edit-class" matTooltip="Edit" (click)="edit(element.id)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn" class="float-right delete-class" (click)="onDelete(element.id)" matTooltip="Delete"><mat-icon>delete_outline</mat-icon></button> 
                
              </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>