<div id="print-section">
	<div class="row">
	  <div class="column">
	  <!-- <table>
	  	<tr *ngFor="let item of createRange((noofItems));">
	  		<td>Ref.No:</td><td>{{getRandomNumber() | uppercase}}{{code}}_{{getRandomNumber() | uppercase}}{{sp}}{{getRandomNumber() | uppercase}}</td>
	  	</tr>
	  </table> -->
	   <ul class="barcode-list">
	      <li class="barcode-item" *ngFor="let item of createRange((noofItems));">
	          {{getRandomNumber() | uppercase}}{{code}}_{{getRandomNumber() | uppercase}}{{sp}}{{getRandomNumber() | uppercase}}
	         
	      </li>
	   </ul>

	  </div>
	  <div class="column">
	     <ul class="barcode-list">
	   	      <li class="barcode-item" *ngFor="let item of createRange((noofItems));">
	   	          {{getRandomNumber() | uppercase}}{{code}}_{{getRandomNumber() | uppercase}}{{sp}}{{getRandomNumber() | uppercase}}
	   	         
	   	      </li>
	   	   </ul>
	  </div>
	</div>

	
</div>
<div class="button-section">
		<button  styleSheetFile="barcode.component.css" printSectionId="print-section" ngxPrint useExistingCss="true" mat-raised-button  color="primary" class="print">Print</button>
		<button  mat-raised-button  color="warn" (click)="goBack()" >Back</button>
</div>


