<div id="print-section">
	<table>
	      	<tr *ngFor="let item of createRange((noofItems));">
	      		<td>
	      			<ngx-barcode bc-value="{{code}}" bc-width="2" bc-heigth="80"></ngx-barcode>
	      			{{getRandomNumber() | uppercase}}{{code}}_{{getRandomNumber() | uppercase}}{{sp}}{{getRandomNumber() | uppercase}}
	      		</td>
	      	</tr>
	      </table>
</div>
 
<div class="button-section">
		<button  printSectionId="print-section" ngxPrint  mat-raised-button  color="primary">Print</button>
		<button  mat-raised-button  color="warn" (click)="goBack()" >Back</button>
</div>


