<div id="sidebar">
  <mat-nav-list>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
          <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/product']">
          <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Products' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/sale']">
          <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Sales' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/brand']">
          <mat-icon class="sidenav-icon">input</mat-icon> {{ 'Brands' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/category']">
          <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Categories' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/size']">
          <mat-icon class="sidenav-icon">code</mat-icon> {{ 'Sizes' }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/supplier']">
          <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> {{ 'Suppliers' }}
      </a>
      <!-- <div class="nested-menu">
          <a mat-list-item (click)="addExpandClass('pages')">
              <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Menu' }}
          </a>
          <ul class="nested submenu" [class.expand]="showMenu === 'pages'">
              <li>
                  <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
              </li>
              <li>
                  <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
              </li>
              <li>
                  <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
              </li>
          </ul>
      </div> -->
  </mat-nav-list>
</div>