<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card class="danger">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">category</mat-icon>
                </div>
                <mat-card-title>13</mat-card-title>
                <mat-card-subtitle>Categories</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <!-- <app-stat [bgClass]="'danger'" [icon]="''" [count]="13" [label]="'!'"></app-stat> -->
    </div>
    <div fxFlex>
       <mat-card class="danger">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">format_size</mat-icon>
                </div>
                <mat-card-title>13</mat-card-title>
                <mat-card-subtitle>Sizes</mat-card-subtitle>
            </mat-card-header>
            
        </mat-card>
       <!--  <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat> -->
    </div>
    <div fxFlex>
       <mat-card class="success">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">shopping_cart</mat-icon>
                </div>
                <mat-card-title>13</mat-card-title>
                <mat-card-subtitle>New Tickets</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a href="javascript:void(0)" class="float-right card-inverse">
                    View Details
                </a>
            </mat-card-actions>
        </mat-card>
        <!-- <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat> -->
    </div>
    <div fxFlex>
       <mat-card class="info">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">contact_support</mat-icon>
                </div>
                <mat-card-title>13</mat-card-title>
                <mat-card-subtitle>New Tickets</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a href="javascript:void(0)" class="float-right card-inverse">
                    View Details
                </a>
            </mat-card-actions>
        </mat-card>
        <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
    </div>
     <div fxFlex>
       <mat-card class="info">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">contact_support</mat-icon>
                </div>
                <mat-card-title>13</mat-card-title>
                <mat-card-subtitle>New Tickets</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a href="javascript:void(0)" class="float-right card-inverse">
                    View Details
                </a>
            </mat-card-actions>
        </mat-card>
        <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
    </div>
</div>



