<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
       <mat-card class="info">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">insert_drive_file</mat-icon>
                </div>
                <mat-card-title>{{records.noofsuppliers}}</mat-card-title>
                <mat-card-subtitle><a mat-button  [routerLink]="['/supplier']">
                        {{ 'Suppliers' }}
                    </a></mat-card-subtitle>
            </mat-card-header>
           
        </mat-card>
        <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
    </div>
     <div fxFlex>
       <mat-card class="brand">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">input</mat-icon>
                </div>
                <mat-card-title>{{records.noofbrands}}</mat-card-title>
               <mat-card-subtitle><a mat-button  [routerLink]="['/brand']">
                        {{ 'Brands' }}
                    </a></mat-card-subtitle>
            </mat-card-header>
           
        </mat-card>
        <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
    </div>
     <div fxFlex>
       <mat-card class="product">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">bar_chart</mat-icon>
                </div>
                <mat-card-title>{{records.noofproducts}}</mat-card-title>
               <mat-card-subtitle><a mat-button  [routerLink]="['/product']">
                        {{ 'Products' }}
                    </a></mat-card-subtitle>
            </mat-card-header>
           
        </mat-card>
        <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card class="danger">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">category</mat-icon>
                </div>
                <mat-card-title>{{records.noofcategories}}</mat-card-title>
                <mat-card-subtitle><a mat-button  [routerLink]="['/category']">
        {{ 'Categories' }}
    </a></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <!-- <app-stat [bgClass]="'danger'" [icon]="''" [count]="13" [label]="'!'"></app-stat> -->
    </div>
    <div fxFlex>
       <mat-card class="warn">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">format_size</mat-icon>
                </div>
                <mat-card-title>{{records.noofsizes}}</mat-card-title>
               <mat-card-subtitle><a mat-button  [routerLink]="['/size']">
        {{ 'Sizes' }}
    </a></mat-card-subtitle>
            </mat-card-header>
            
        </mat-card>
       <!--  <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat> -->
    </div>
    <div fxFlex>
       <mat-card class="success">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="icon-lg">shopping_cart</mat-icon>
                </div>
                <mat-card-title>{{records.noofsales}}</mat-card-title>
               <mat-card-subtitle><a mat-button  [routerLink]="['/sale']">
                       {{ 'Sales' }}
                   </a></mat-card-subtitle>
            </mat-card-header>
           
        </mat-card>
        <!-- <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat> -->
    </div>
    
</div>






